<app-navbar></app-navbar>


<div class="jumbotron jumbotron-fluid">
    <div class="button" id="button-5">
        <div id="translate"></div>
        <a routerLink='/add-category'>Add Category</a>
    </div>
    
    <div class="button" id="button-5" >
        <div id="translate"></div>
        <a routerLink="/add-subcategory">Add Subcategory</a>
    </div>
   
    <div class="button" id="button-5">
        <div id="translate"></div>
        <a routerLink="/add-books">Add Book</a>
    </div>
    
</div>