<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid">
    <div class="container row">

        <div style="margin-right: 50px ; margin-left: 50px; " class="row col-lg-3">
            <img src="assets/{{book.Image}}.jpg" class="card-img" alt="...">
        </div>

        <div style="display: inline-block;" class="row col-lg-8">
            <h1 class="display-4"> {{ book.Title }}</h1>
            <h4>
                <small class="text-muted">By</small>
                {{book.Author}}
            </h4>
 
            <div style="font-size: 30px;"> <i>{{ book.Price | currency:'INR' }}</i> </div>
            <p style="font-size: 20px; opacity: 50%;">Book Id: {{book.Id}}</p>
            <p>{{book.Description}}</p>
            <div>
                <button *ngIf="user == 'admin@gmail.com'" class="btn btn-warning" routerLink='updatebook'>Update</button>
                <button *ngIf="user == 'admin@gmail.com'"  class="btn btn-danger" (click)='onDeleteClick(book.Id)' routerLink=''>Delete</button> <br>
                <button *ngIf="user != 'admin@gmail.com'"  class="btn wishlist " (click)='wishlist(book.Id)' routerLink=''>Wishlist</button>
                <button *ngIf="user != 'admin@gmail.com'"  class="btn btn-primary cart" (click)='addToCart(book.Id)' routerLink=''>Add to Cart</button>
                
            </div>
        </div>
    </div>
</div>