 <!-- <h2 class="text-center">Books</h2> 

<div class="row">
  <div class="col-sm-6" *ngFor="let book of books">
    <div class="container">
        <img src="{{ book.Image }}" class="card-img-top" alt="..."> 
       <div class="card-body"> 
        <h5 class="card-title">{{ book.Title }}</h5>
         <button  class="btn btn-primary btn-block" (click)="onButtonClick(category)">Buy Now</button>  
      </div>
      <h1>{{book.Author}}</h1>
    </div>
  </div>
  
</div>  -->
<div class="main">
  <h1>Shopping cart</h1>
  <h2 class="sub-heading">Free shipping from $100!</h2>
  <section class="shopping-cart">
   
    <ol class="ui-list shopping-cart--list" id="shopping-cart--list" *ngFor = "let book of books">
      <!-- {{subtotal}}+={{book.price}} -->
      <li class="_grid shopping-cart--list-item">
        <div class="_column product-image">
          <img class="product-image--img" src="{{book.Image}}" alt="Item image" width="100%" height="100%"/>
        </div>
        <div class="_column product-info">
          <h4 class="product-name">{{book.Title}}</h4>
          <p class="product-desc">{{book.Description}}</p>
          <div class="price product-single-price">${{book.Price}}</div>
        </div>
        <div class="_column product-modifiers" data-product-price="adfadf">
          <!--this is for increasing quantity
            <div class="_grid">
            <button class="_btn _column product-subtract">&minus;</button>
            <div class="_column product-qty">0</div>
            <button class="_btn _column product-plus">&plus;</button>
          </div> -->

         <!-- <button  class="_btn entypo-trash product-remove" (click)="onRemoveButton(category)">Buy Now</button>   -->
          <div class="price product-total-price"width="100%" height="50%">Rs. {{book.Price}}</div>
        </div>
      </li>
    </ol>

    <footer class="_grid cart-totals">
        <div class="_column subtotal" id="subtotalCtr">
          <div class="cart-totals-key">Subtotal</div>
          <div class="cart-totals-value">0</div>
        </div>
        <div class="_column shipping" id="shippingCtr">
          <div class="cart-totals-key">Shipping</div>
          <div class="cart-totals-value">$0.00</div>
        </div>
        <!-- <div class="_column taxes" id="taxesCtr">
          <div class="cart-totals-key">Taxes (6%)</div>
          <div class="cart-totals-value">$0.00</div>
        </div> -->
        <div class="_column total" id="totalCtr">
          <div class="cart-totals-key">Total</div>
          <div class="cart-totals-value">$0.00</div>
        </div>
        <div class="_column checkout">
          <button class="_btn checkout-btn entypo-forward">Checkout</button>
        </div>
      </footer>

  </section> 
   </div>
<!-- </div> -->