<nav class="navbar navbar-expand-lg navbar-dark " style="padding-left: 20px;background-color: rgb(43, 46, 58);">
    <a class="navbar-brand" href="/">
        <img src="https://img.icons8.com/external-itim2101-lineal-color-itim2101/2x/external-book-back-to-school-itim2101-lineal-color-itim2101.png"
            width="45" height="45" alt="" style="border-radius: 250px;"> Book App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll">

            <li class="nav-item">
                <a class="nav-link" routerLink="/categories">Categories</a>
            </li>

            <li *ngIf="loggedin == 'admin@gmail.com'" class="nav-item">
                <a class="nav-link" routerLink="/add-books">Add Books</a>
            </li>

            <li *ngIf="loggedin == 'admin@gmail.com'" class="nav-item">
                <a class="nav-link" routerLink="/admin-dashboard">Dashboard</a>
            </li>
            
            

        </ul>
        <ul class="navbar-nav " style="margin-left: 15% ; margin-right:3%; ">
            <form class="form-inline" #searchForm='ngForm' (submit)=onSubmit(searchForm.value)>
                <!-- <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select> -->
                <select class="custom-select mr-sm-3" name="select" id="inlineFormCustomSelect" ngModel="1">
                    <option selected value="1">Books</option>
                    <option value="2">Categories</option>
                    <option value="3">ISBN</option>
                </select>
                <input class="form-control mr-sm-2" style="width: 400px;" type="search" placeholder="Search"
                    name="searchtext" aria-label="Search" ngModel>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li *ngIf="loggedin == false" class="nav-item" style="margin: 20px;">
                <button class="btn btn-outline-primary" routerLink="/register">Register</button>
            </li>
            <li *ngIf="loggedin == false" class="nav-item" style="margin-left: 7px;" style="margin: 20px;">
                <button class="btn btn-outline-success" routerLink="/login">Login</button>
            </li>

            <li *ngIf="loggedin != false and loggedin !='admin@gmail.com'" class="nav-item"
                style="margin-top: 20px; margin-right: 7px;">
                <a class="navbar-brand" routerLink="/cart/{{userId}}">
                    <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/microsoft/309/shopping-cart_1f6d2.png"
                        width="30" height="30" alt="" style="border-radius: 250px;">
                    Cart
                </a>
            </li>
            <li class="nav-item dropdown" style="margin-top: 20px;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTboP3I7YVTIvLusl6s0sph0CDmXVW6wY4u8atSX4D2OKCfh7auYYZi0zuJpPmd8VmmA38&usqp=CAU"
                    width="26" height="30" alt="" style="border-radius: 250px;">
                Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink='/profile/{{userId}}'>My Profile</a>
                  <a class="dropdown-item" routerLink='/cart/{{userId}}'>Cart</a>
                  <a class="dropdown-item" routerLink='/wishlist/{{userId}}'>Wishlist</a>
                  <a class="dropdown-item" routerLink='/orders/{{userId}}'>Orders</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            <li *ngIf="loggedin != false" class="nav-item" style="margin-left: 7px;" style="margin: 20px;">
                <button (click)="onLogout()" class="btn btn-outline-danger" routerLink="">Logout</button>
            </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        

    </div>
</nav>