@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container {
    /* max-width: 1200px; */
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container>h1 {
    padding: 20px 0;
}

.cart {
    padding-left: 10%;
    /* padding-right: 10%; */
    max-width: 1200px;
    display: flex;
}

.products {
    flex: 0.75;
    /* border: 2px solid rgb(101, 74, 145); */
}

.product {
    background-color: rgb(239, 243, 255);
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 10px solid white;
    /* box-shadow: 0px 0px 2px 2px; */
}

.product:hover {
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
}

.product>img {
    width: 200px;
    height: 200px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    object-fit: cover;
}

.product>img:hover {
    transform: scale(1.1);
}

.product-info {
    padding: 20px;
    width: 100%;
    position: relative;
}

.product-price {
    position: absolute;
    top: 20px;
    right: 20px;
    margin-bottom: 20px;
}

.date {
    position: absolute;
    bottom: 25px;
}

.product-name,
.product-offer {
    margin-bottom: 20px;
    position: relative;
}

.product-remove {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.product-remove:hover {
    background-color: white;
    color: green;
    font-weight: 600;
    border: 1px solid green;
}

.product-quantity>input {
    width: 40px;
    padding: 5px;
    text-align: center;
}

.fa {
    margin-right: 5px;
}

.cart-total {
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}

.cart-total p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}

.cart-total a {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: tomato;
    color: white;
    text-decoration: none;
}

.cart-total a:hover {
    background-color: red;
}

@media screen and (max-width: 700px) {
    .remove {
        display: none;
    }
    .product {
        height: 150px;
    }
    .product>img {
        height: 150px;
        width: 200px;
    }
    .product-name,
    .product-price,
    .product-offer {
        margin-bottom: 10px;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

@media screen and (max-width: 900px) {
    .cart {
        flex-direction: column;
    }
    .cart-total {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

.box {
    background-color: white;
    height: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (max-width: 1220px) {
    .container {
        max-width: 95%;
    }
}


/* sidebar css */

._1TzjCl .nt9Nxn {
    margin: 0 auto;
    position: relative;
    padding: 14px 64px 0;
}

._1TzjCl ._3SyQ96 {
    width: 25%;
}

._3E8aIl {
    /* width: 25%; */
    /* position: relative; */
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

.nUdcwy {
    padding: 12px;
    margin-bottom: 16px;
}

.DxGiT2 {
    padding: 5px 0 0 16px;
    width: calc(100% - 50px);
}

.DxGiT2 ._2QZ3Er {
    font-size: 12px;
}

.DxGiT2 ._1ruvv2 {
    padding-top: 3px;
    font-size: 16px;
    font-weight: 500;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

._3AJE9A {
    margin-bottom: 16px;
}

._3E8aIl {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

._1K5fB- {
    padding-bottom: 12px;
}

._15sjxS {
    padding: 20px 12px 5px 24px;
}

._3GARO3 {
    width: 20px;
    height: 20px;
}

._16v3bB {
    width: calc(100% - 26px);
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #878787;
    cursor: pointer;
}

a,
img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

*[_ngcontent-gfs-c116] {
    box-sizing: border-box;
    margin: 0;
}

.HDpecx {
    border-bottom: 1px solid #f0f0f0;
}

._1K5fB- {
    padding-bottom: 12px;
}

._15sjxS {
    padding: 20px 12px 5px 24px;
}

.col,
.row {
    width: 100%;
}

.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

._3vaeIJ {
    padding: 0 0 12px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #878787;
}

.NS64GK {
    font-size: 14px;
    padding: 12px 5px 12px 66px;
    cursor: pointer;
}

._1MZ7_i {
    font-weight: 500;
    color: #2874f0;
    background-color: #f5faff;
}


/* form css */

._3E8aIl {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
}

._3c8nMP {
    padding: 24px 32px 0;
}

.JLGkw1 {
    padding-bottom: 56px;
}

._1cyhik {
    padding-bottom: 24px;
}

._1cyhik ._1mHr1S {
    font-size: 18px;
    font-weight: 500;
    padding-right: 24px;
}

._1cyhik .oKZoMV {
    font-size: 14px;
    font-weight: 500;
    color: #2874f0;
    cursor: pointer;
}

._1TlPi6 {
    padding-bottom: 2px;
}

._1TlPi6 ._1YVqbV {
    width: 270px;
    padding-right: 12px;
}

._1Jqgld {
    position: relative;
    margin-bottom: 10px;
}

._1w3ZZo:disabled {
    background-color: #fafafa;
    cursor: not-allowed;
}

._1YmvCG {
    padding: 16px;
    color: #878787;
}

._2mFmU7 {
    height: 50px;
}

._1509Hs {
    padding: 12px 0;
}

._2fnqkz {
    font-size: 16px;
}

._2hH1hC {
    color: #878787;
    cursor: not-allowed;
}

._2LcXZ- {
    color: #878787!important;
    cursor: not-allowed;
}

._3iI7Qn {
    border-bottom: none;
    display: inline-block;
    margin-right: 32px;
}

._3L7Pww {
    cursor: auto;
}

._2Fn-Ln {
    cursor: pointer;
}


/* radio bad effect */

._2jIO64 {
    display: inline-block;
    margin-left: 18px;
    width: calc(100% - 34px);
}