<html>
    <app-navbar></app-navbar>
<div style="float: left; width: 24%; padding-top: 25px; background-color: white; ">
    <app-sidebar></app-sidebar>
</div>
<div class="container" style="background-color: white; max-width: 75%; float: right; padding-top: 25px;">
    <div class="cart" style="padding-top: 3%; border-width: 2px; border: tomato;">
        <h1 style="font-family: Arial, Helvetica, sans-serif;">Orders</h1>
    </div>
    <div class="cart">
        <div class="products">
            <div class="product" *ngFor="let book of books">
                <img src="{{book.Image}}">
                <div class="product-info">
                    <h3 class="product-name">{{book.Title}}</h3>
                    <h4 class="product-price">{{ book.Price | currency: 'INR' }} </h4>
                    <p class="date">
                        Ordered on : {{book.Date}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
