<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
    <div class="container-flex">
        <div class="row">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-3">
                <aside>
                    <h5 style="margin-left: 4px; border-right: 1px solid lightgrey; margin-top: 40px;">Browse by Category</h5>
                    <ul class="list-group">
                        <!-- <li class="list-group-item active"></li> -->
                        <li (click)=onButtonClick(category.CategoryID) class="list-group-item list-group-item-action"
                            *ngFor='let category of categories'>{{category.CategoryName}}</li>
                    </ul>
                    <hr>
                    <img src="assets/shipping.png" alt="" style="width: 95%;">
                </aside>
            </div>
            <div class="col-lg-7">
                <h2> <b>Books Availabe</b></h2>
                <div class="container-flex" style="padding: 0px;">
                    <div class="row">
                        <div class="col-sm-3" style="margin-bottom : 30px ;" *ngFor='let book of books'>

                            <div class="card">

                                <div class="view zoom overlay">

                                    
                                    <a href="#!">
                                        <div class="mask">
                                            <img class="img-fluid w-100"
                                                src="https://images-na.ssl-images-amazon.com/images/I/71tbalAHYCL.jpg">
                                            <div class="mask rgba-black-slight"></div>
                                        </div>
                                    </a>
                                </div>

                                <div class="card-body text-center">

                                    <h5>{{book.Title}}</h5>
                                    <p class="small  text-uppercase mb-2">{{book.Author}}</p>

                                    <hr>
                                    <h6 class="mb-3">
                                        <span class="text-danger mr-1">{{book.Price | currency: 'INR'}}</span>
                                        <span class="text-grey"><s>$100</s></span>
                                    </h6>

                                    <button type="button" class="btn btn-primary btn-sm mr-1 mb-2"
                                        (click)=onCartClick(book.Id)>
                                        <i class="fas fa-shopping-cart pr-2"></i>Add to cart
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm mr-1 mb-2"
                                        (click)=onViewClick(book.Id)>
                                        <i class="fas fa-info-circle pr-2"></i>Details
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm px-3 mb-2 material-tooltip-main"
                                        data-toggle="tooltip" data-placement="top" title="Add to wishlist"
                                        (click)=onWishlistClick(book.Id)>
                                        <i class="far fa-heart"></i>
                                    </button>

                                </div>

                            </div>
                            <!-- Card -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1">

            </div>
        </div>
    </div>
</body>

</html>