h2 {
    color: #000;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 0 80px;
}
h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    bottom: -20px;
}
h2 b {
    color: #ffc000;
}

body{
    background-color: rgb(247, 242, 242);
}

.list-group-item{
    cursor: pointer;
}

li.list-group-item:hover{
    background-image: none;
    background-color: rgb(162, 209, 255) !important;
}

.list-group{
    max-height: 600px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
