<app-navbar></app-navbar>
<div class="container" style="background-color: white; height: 100vh;" >
 
  <!-- <h1>Shopping Cart</h1> -->
  <div class="cart" style="padding-top: 3%; border-width: 2px; border: tomato;">
    <h1>Wishlist</h1>
  </div>
  <div class="cart">
    <div class="products">
      <div class="product" *ngFor="let book of books">
        <img src="{{book.Image}}">
        <div class="product-info">
          <h3 class="product-name">{{book.Title}}</h3>
          <h4 class="product-price">{{ book.Price  | currency: 'INR' }} </h4>
            <button type="button" class="btn btn-danger btn-lg" style="	position: absolute;bottom: 80px;right: 20px;" (click)="onMoveToCartButton(book.Id)">Move to Cart</button>
          <button type="button" class="btn btn-danger btn-lg " style="	position: absolute;bottom: 20px;right: 20px;" (click)="onRemoveButton(book.Id)">Remove</button>
        </div>
      </div>
    </div>
    <!-- <div class="cart-total">
      <p>
        <span>Total Price</span>
        <span>{{ totalAmount  | currency: 'INR' }} </span>
      </p>
      <p>
        <span>Number of Items</span>
        <span>{{totalItem}}</span>
      </p>
      <a href="#">Proceed to Checkout</a>
    </div> -->
  </div>
</div>