
.jumbotron-fluid{
    height: 80px;
    /* margin: auto; */
    /* padding: 10px; */
    
    background: linear-gradient(rgba(51, 50, 50, 0.5), rgba(48, 47, 47, 0.5)), url("src/assets/book.jpg");
    color: white;
    
    
}
.list-group-item{
    cursor: pointer;
}


body {
    background-color: rgb(238, 234, 234);
}
