h1 {
    width:500px;
    margin: 0 auto;
    margin-bottom: 5%;
    /* background: gray; */
    text-align: center;
}

.wrap{
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 2%;
}