<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form>
        <div class="wrap">
            <div class="form-group ">
                <h1 >Add Category</h1>
                <label for="categoryid">Category Id</label>
                <input type="text" class="form-control" id="categoryid" aria-describedby="categoryid"
                    placeholder="Enter Category ID">
            </div>
            <div class="form-group">
                <label for="categoryName">Category Name</label>
                <input type="text" class="form-control" id="categoryName" placeholder="Category Name">
            </div>
            <div class="form-group">
                <label for="catDescription">Category Description</label>
                <input type="text" class="form-control" id="categoryDescription" placeholder="Description">
            </div>
            <div class="form-group">
                <label for="position">Position</label>
                <input type="text" class="form-control" id="position" placeholder="Position">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="url" class="form-control" id="image" placeholder="Image url">
            </div>
                <div class="form-group">
                <label for="status">Status</label>
                <div class="form-check ">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        In stock
                    </label>
                </div>
                <div class="form-check ">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Out of stock
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>

</html>