<app-navbar></app-navbar>

<div style="float: left; width: 24%; padding-top: 25px; background-color: white;">
    <app-sidebar></app-sidebar>
</div>



<div class="container" style="background-color: white; max-width: 75%; float: right; padding-top: 25px;">
    <div class="formContainer" style="padding: 10%; min-height: 100vh;">
        <form class="">
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" disabled=" " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{user.Name}}">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="email" class="form-control" disabled="" id="exampleInputPassword1" placeholder="{{user.Email}}">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Default Address </label>
            </div>
            <div style="min-width: 100%; ">
                <div class="form-group">
                    <input type="text" disabled class="form-control" style="width:49%; float: left;background-color: rgba(232, 242, 252, 0.904); " aria-describedby="emailHelp" value={{address.Name}}>
                    <input type="email" disabled class="form-control" style="width:49% ; float: right;background-color: rgba(232, 242, 252, 0.904);" id="exampleInputPassword1" value="{{address.Mobile}}">
                </div>
                <div class="form-group" style="padding-top : 50px">
                    <input type="text" disabled class="form-control" style="width:49%; float: left;background-color: rgba(232, 242, 252, 0.904);" id="exampleInputEmail1" aria-describedby="emailHelp" value={{address.BuildingName}}>
                    <input type="email" disabled class="form-control" style="width:49% ; float: right;background-color: rgba(232, 242, 252, 0.904);" id="exampleInputPassword1" placeholder="{{address.Locality}}">
                </div>
                <div class=" form-group" style="padding-top : 33px">
                    <input type="text" disabled class="form-control" style="width:49%; float: left;background-color: rgba(232, 242, 252, 0.904);" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{address.Pincode}}">
                    <input type="email" disabled class="form-control" style="width:49% ; float: right;background-color: rgba(232, 242, 252, 0.904);" id="exampleInputPassword1" placeholder="{{address.District}}">
                </div>
                <div class="form-group" style="padding-top : 33px">
                    <input type="text" disabled class="form-control" style="width:100%; float: left;background-color: rgba(232, 242, 252, 0.904);" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{address.Landmark}}">
                </div>
            </div>
        </form>
    </div>
</div>
