<app-navbar></app-navbar>

<div class="row">
    <nav class="admin__nav col-lg-3 ">
        <ul class="menu">
            <li class="menu__item">
                <a class="menu__link"  routerLink="/admin-dashboard">View Users</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" routerLink="/add-category">Add Category</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" routerLink="/add-books">Add Book</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" routerLink="/view-order">View All Orders</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" routerLink="/view-coupons">View Coupons</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" routerLink="/add-coupon">Add Coupons</a>
            </li>
        </ul>
    </nav>

    <div class="div container text-center col-lg-9">

        <h1 class="heading" *ngIf="!coupons[0]">No coupon to display</h1>
        <div *ngIf="coupons[0]" >
            <div class="container">
                <table *ngIf="true" class="table   table-bordered table-hover border-dark table-sm" style="max-width: 50%;">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th>Coupon Id</th>
                            <th>Discount </th>
                            <th>Max Discount</th>
                            <th>Code</th>
                            <th></th>
    
                    </thead>
                    <tbody style="background-color: white; ">
                        <tr *ngFor="let c of coupons">
                            <td>{{c.CouponID}}</td>
                            <td>{{c.Discount}}</td>
                            <td>{{c.MaxAmount}}</td>
                            <td>{{c.CouponCode}}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" (click)="onDelete(c.CouponID)" onclick="window.location.reload()">Delete</button>
                            </td>
                          

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>